form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    width: 400px;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type=submit] {
    width: 400px;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.as-input, .as-textarea {
    margin-bottom: 20px;
}

.error {
    width: 400px;
    color: red;
}